# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directory
node_modules/

# Misc
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Build
/dist

# locks
yarn.lock
package-lock.json

# tests
__tests__/e2e/reports/*
__tests__/e2e/storage-state/*
__tests__/e2e/static/*
coverage